.location {
    padding: 60px 0;
    &__map {
        margin: 0 auto;
        margin-top: 60px;
        width: 340px;
        height: 206px;
        iframe {
            width: 100%;
            height: 100%;
        }
    }
}
@media screen and (min-width: 768px) {
    .location {
        &__map {
            width: 663px;
            height: 400px;
        }
    }
}
@media screen and (min-width: 1200px) {
    .location {
        &__map {
            width: 663px;
            height: 500px;
        }
    }
}
@media screen and (min-width: 1920px) {
    .location {
        &__map {
            width: 801px;
            height: 604px;
        }
    }
}
