* {
    margin: 0;
    padding: 0;
}
button {
    display: block;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"],
li {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

html {
    font-family: "Barlow", sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: var(--light-color);
}
.container {
    width: 100%;
    padding: 0 10px;
}
.no-scroll {
    overflow: hidden;
}
