@mixin title {
    font-weight: 500;
    text-transform: uppercase;
    color: var(--dark-color);
    line-height: normal;
    font-style: normal;
    text-align: center;
}
@mixin btn-default {
    border: 1px solid var(--dark-color);
    border-radius: 2px;
    width: 330px;
    // height: 60px;
    background-color: transparent;

    padding-block: 18px;
    padding-inline: 5px;
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--dark-color);
    &:hover {
        background-color: var(--dark-color);
        color: var(--light-color);
    }
    &:active {
        box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.4);
        background: rgba(217, 217, 217, 0.1);

        color: var(--dark-color);
    }
}
@mixin btn-send {
    border: 1px solid var(--dark-color);
    border-radius: 2px;
    width: 220px;
    // height: 40px;
    background-color: transparent;

    padding-block: 11px;
    padding-inline: 5px;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--dark-color);
    &:hover {
        border: 1px solid var(--ceramic-color);
        color: var(--ceramic-color);
    }
    &:focus {
        color: var(--dark-color);
        outline: 1px solid var(--ceramic-color);
        border: none;
    }
    &:disabled {
        border: 1px solid var(--ui-disabled-color);
        color: var(--ui-disabled-color);
        cursor: not-allowed;
    }
}
@mixin link-hover {
    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 0%;
        right: 50%;
        height: 2px;
        bottom: -2px;
        background-color: var(--dark-color);
        transition: all ease-in 0.3s;
    }
    &::before {
        content: "";
        position: absolute;
        display: block;
        width: 0%;
        height: 2px;
        left: 50%;
        bottom: -2px;
        background-color: var(--dark-color);
        transition: all ease-in 0.3s;
    }

    &:hover {
        &::after {
            width: 50%;
        }
        &::before {
            width: 50%;
        }
    }
}
@mixin tab-active {
}
