@mixin title {
    font-weight: 500;
    text-transform: uppercase;
    color: var(--dark-color);
    line-height: normal;
    font-style: normal;
    text-align: center;
}
@mixin btn-default {
    border: 1px solid var(--dark-color);
    border-radius: 2px;
    width: 330px;
    // height: 60px;
    background-color: transparent;

    padding-block: 18px;
    padding-inline: 5px;

    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--dark-color);
    &:hover {
        background-color: var(--dark-color);

        color: var(--light-color);
        cursor: pointer;
    }
    &:active {
        box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.4);
        background: rgba(217, 217, 217, 0.1);

        color: var(--dark-color);
    }
}
