:root {
    --light-color: #f5f5f7;
    --dark-color: #221f20;
    --ceramic-color: #c69978;
    --ui-active-color: #d9d9d9;
    --ui-disabled-color: #d2d2d2;
    --ui-error-color: #f14668;

    --container-padding-inline: 13%;
    --footer-padding-inline: 10%;
    @media screen and (max-width: 768px) {
        --container-padding-inline: 6%;
        --footer-padding-inline: 6%;
    }
    @media screen and (max-width: 576px) {
        --container-padding-inline: 15px;
        --footer-padding-inline: 15px;
    }
}
