//libs
@use "/src/sass/libs/modern-normalize.min.css";
@use "/src/sass/libs/grids-min.css";
@use "/src/sass/libs/grids-responsive-min.css";
@use "/src/sass/libs/fontello.css";

//base
@use "/src/sass/base/variables.scss";
@use "/src/sass/base/basic_style.scss";
// @use "/src/sass/base/mixins.scss" as *;
@use "/src/sass/blocks/header.scss";
@use "/src/sass/blocks/menu.scss";
@use "/src/sass/ui/titles.scss";
@use "/src/sass/ui/buttons.scss";
//blocks
@use "/src/sass/blocks/homepage/promo.scss";
@use "/src/sass/blocks/homepage/activities.scss";
@use "/src/sass/blocks/git.scss";
@use "/src/sass/blocks/homepage/works.scss";
@use "/src/sass/blocks/footer.scss";
