.git {
    padding-top: 60px;
    &__wrapper {
        margin-top: 60px;
    }
    &__img {
        display: none;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
    }
    &__vase {
        display: none;
    }
    &__fieldset {
        border: none;
    }
    &__label {
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 200%;
        color: var(--dark-color);
        &:nth-child(2) {
            margin-top: 8px;
        }
    }
    &__input {
        width: 100%;
        color: var(--dark-color);
        border: 1px solid #e2e1e5;
        border-radius: 2px;
        padding: 10px 15px;
        height: 48px;
        background: #fff;
        &:focus {
            border: 1px solid var(--dark-color);
            outline: none;
        }
        &::placeholder {
            color: var(--ui-disabled-color);
            font-size: 14px;
        }
    }
    &__textarea {
        border: 1px solid #e2e1e5;
        padding: 10px 15px;
        border-radius: 2px;
        width: 100%;
        height: 132px;
        resize: none;
        background: #fff;
        &:focus {
            border: 1px solid var(--dark-color);
            outline: none;
        }
        &::placeholder {
            color: var(--ui-disabled-color);
            font-size: 14px;
        }
    }
    &__check-block {
        display: flex;
        align-items: center;
        margin-top: 20px;
        a {
            margin-left: 4px;
            color: #a22dc6;
        }
    }
    &__checkbox {
        margin-right: 15px;
        width: 15px;
        height: 15px;
        cursor: pointer;
    }
    &__btn {
        margin-top: 20px;
    }
}
@media screen and (min-width: 768px) {
    .git {
        &__form {
            width: 300px;
            margin-left: 24px;
        }
        &__vase {
            display: block;
            right: 0;
            bottom: 0;
            position: absolute;
        }
    }
}
@media screen and (min-width: 1200px) {
    .git {
        &__wrapper {
            margin-top: 80px;
        }
        &__img {
            display: block;
            width: 550px;
            height: 341px;
            object-fit: cover;

            // animation-duration: 1s;
        }
        &__form {
            margin-left: 40px;

            // animation-duration: 1s;
        }
        &__input {
            &:hover {
                border: 1px solid var(--dark-color);
                outline: none;
            }
        }
        &__textarea {
            &:hover {
                border: 1px solid var(--dark-color);
                outline: none;
            }
        }
        &__vase {
            display: block;
            right: 24px;
            bottom: 0;
            position: absolute;

            // animation-duration: 1s;
        }
    }
}
@media screen and (min-width: 1920px) {
    .git {
        padding-top: 100px;
        &__form {
            width: 100%;
            margin-left: 147px;
        }
        &__fieldset {
            display: flex;
            gap: 45px;
        }
        &__input-block {
            width: 300px;
        }
        &__label {
            width: 300px;
        }
        &__textarea {
            width: 300px;
        }
        &__img {
            height: 356px;
        }
    }
}
