@use "/src/sass/base/mixins.scss" as *;

.header {
    // position: relative;
    &__top {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        width: 100px;
        height: 100px;
    }
    &__icons {
        display: flex;
        align-items: flex-start;
        gap: 15px;
        a {
            display: block;
            color: var(--dark-color);
            span {
                display: block;
                &::before {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    &__nav {
        display: none;
    }
}
.burger {
    padding-right: 35px;
    height: 26px;
    span {
        display: block;
        margin-bottom: 10px;
        width: 20px;
        height: 2px;
        background-color: var(--dark-color);
        &:last-child {
            margin-bottom: 0;
        }
    }
}
@media screen and (min-width: 768px) {
    .header {
        &__nav {
            display: block;
            margin-top: 20px;
            &-list {
                display: flex;
                justify-content: center;
                gap: 30px;
            }
            &-link {
                font-weight: 400;
                font-size: 20px;
                text-transform: uppercase;
                color: var(--dark);
            }
        }
    }
    .burger {
        visibility: hidden;
    }
}
@media screen and (min-width: 1200px) {
    .header {
        &__nav {
            &-link {
                position: relative;
                transition: all 0.3s;
                @include link-hover;
            }
        }
    }
}
@media screen and (min-width: 1920px) {
    .header {
        &__logo {
            width: 150px;
            height: 151px;
        }
        &__nav {
            margin-top: 36px;
        }
    }
}
