.blog {
    padding: 60px 0;
    &__wrapper {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }
    &__card {
        display: flex;
        flex-direction: column;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
        background: var(--light-color);
        row-gap: 25px;
        &-img {
            width: 100%;
            height: 240px;
            object-fit: cover;
        }
        // border: 1px solid var(--dark-color);
        // border-top: none;
    }
    &__cta {
        padding: 0 25px;
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        &-title {
            text-align: left;
        }
        border: 1px solid var(--dark-color);
        border-top: none;
        border-bottom: none;
    }
    &__text {
        padding: 0 25px 25px 25px;
        font-weight: 400;
        font-size: 16px;
        color: var(--dark-color);
        border: 1px solid var(--dark-color);
        border-top: none;
    }
}
