@use "/src/sass/base/mixins.scss" as *;

.catalog {
    padding: 50px 0 60px 0;
    &__title {
        margin-top: 60px;
    }
    &__tabs {
        display: flex;
        flex-wrap: wrap;
        row-gap: 13px;
        column-gap: 50px;
        margin-top: 60px;
        padding: 13px 25px;
        border: 1px solid var(--dark-color);
    }

    &__tab {
        position: relative;
        font-weight: 500;
        font-size: 20px;
        text-transform: uppercase;
        color: var(--dark-color);
        border: none;
        cursor: pointer;
    }
    #catalog__tab-active {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 50%;
            right: 50%;
            height: 2px;
            bottom: -2px;
            background-color: var(--dark-color);
            transition: all ease-in 0.3s;
        }
        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 50%;
            height: 2px;
            left: 50%;
            bottom: -2px;
            background-color: var(--dark-color);
            transition: all ease-in 0.3s;
        }
    }
}
@media screen and (min-width: 768px) {
    .catalog {
        &__tabs {
            display: grid;
            width: 460px;
            grid-template-columns: repeat(3, auto);
            grid-template-rows: auto;
            justify-content: space-between;
            column-gap: 0px;
        }
        // &__tabs {
        //     width: 459px;
        //     min-height: 50px;
        //     justify-content: space-between;
        //     align-items: flex-start;
        //     display: flex;
        //     flex-wrap: wrap;
        //     column-gap: 0px;
        //     margin-top: 60px;
        //     padding: 13px 25px;
        //     border: 1px solid var(--dark-color);
        // }
    }
}
@media screen and (min-width: 1200px) {
    .catalog {
        &__tab {
            @include link-hover;
        }

        // &__tab-active {
        //     position: relative;
        //     &::after {
        //         content: "";
        //         position: absolute;
        //         display: block;
        //         width: 100%;
        //         right: 0;
        //         height: 2px;
        //         bottom: -4px;
        //         background-color: var(--dark-color);
        //     }
        //     &:hover {
        //         &::after {
        //             width: 100%;
        //         }
        //         &::before {
        //             width: 0%;
        //         }
        //     }
        // }
    }
}
