.activities {
    padding-top: 60px;
    &__wrapper {
        margin-top: 20px;
        gap: 40px;
    }
    &__img {
        width: 100%;
        margin-top: 40px;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
    }
    &__text {
        margin-top: 20px;
        font-weight: 400;
        font-size: 16px;
        color: var(--dark-color);
        &_colored {
            color: var(--ceramic-color);
        }
    }
}
@media screen and (min-width: 768px) {
    .activities {
        padding: 60px 95px;
        &__wrapper {
            margin-top: 40px;
        }
        &__text {
            margin-top: 25px;
            font-size: 20px;
        }
    }
}
@media screen and (min-width: 1200px) {
    .activities {
        padding: 60px 10px 0px 10px;
        &__wrapper {
            margin-top: 80px;
            gap: 0px;
        }
        &__img {
            margin-top: 60px;
            height: 320px;
        }
        &__text {
            margin-top: 25px;
            font-size: 20px;
        }
    }
}
