.header {
    // position: relative;
    display: flex;
    justify-content: space-between;
    &__logo {
        width: 100px;
        height: 100px;
    }
    &__icons {
        display: flex;
        align-items: flex-start;
        gap: 15px;
        a {
            display: block;
            color: var(--dark-color);
            span {
                display: block;
                &::before {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    &__menu {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--light-color);

        z-index: 99;
        &-link {
            font-weight: 400;
            font-size: 20px;
            text-transform: uppercase;
            color: var(--dark);
        }
    }
}
.burger {
    padding-right: 35px;
    height: 26px;
    span {
        display: block;
        margin-bottom: 10px;
        width: 20px;
        height: 2px;
        background-color: var(--dark-color);
        &:last-child {
            margin-bottom: 0;
        }
    }
}
