.works {
    padding-top: 60px;
    &__slider {
        margin-top: 40px;
        padding-bottom: 45px;
    }
    .swiper-slide {
        img {
            width: 100%;
        }
    }
    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }
    .swiper-pagination {
        bottom: 0;
    }
}
