@use "/src/sass/base/mixins.scss" as *;

.btn-default {
    border: 1px solid var(--dark-color);
    border-radius: 2px;
    width: 230px;
    // height: 60px;
    background-color: transparent;

    padding-block: 13px;
    padding-inline: 5px;
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--dark-color);
    transition: 0.3s;
    // @include btn-default;
}
@media screen and (min-width: 1200px) {
    .btn-default {
        &:hover {
            background-color: var(--dark-color);
            color: var(--light-color);
        }
        &:active {
            box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.4);
            background: rgba(217, 217, 217, 0.1);
            color: var(--dark-color);
        }
    }
}
@media screen and (min-width: 1920px) {
    .btn-default {
        margin-top: 50px;
        padding-block: 18px;
        width: 330px;
        height: 60px;
    }
}
.btn-send {
    border: 1px solid var(--dark-color);
    border-radius: 2px;
    width: 220px;
    // height: 40px;
    background-color: transparent;

    padding-block: 11px;
    padding-inline: 5px;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--dark-color);
    transition: 0.3s;
    // @include btn-send;
}
@media screen and (min-width: 1200px) {
    .btn-send {
        &:hover {
            border: 1px solid var(--ceramic-color);
            color: var(--ceramic-color);
        }
        &:focus {
            color: var(--dark-color);
            outline: 1px solid var(--ceramic-color);
            border: none;
        }
        &:active {
            border: 1px solid var(--ceramic-color);
        }
        &:disabled {
            border: 1px solid var(--ui-disabled-color);
            color: var(--ui-disabled-color);
            cursor: not-allowed;
        }
    }
}
.btn-submit {
    border: 1px solid var(--light-color);
    border-radius: 2px;
    width: 90px;
    // height: 40px;
    background-color: transparent;

    padding-block: 11px;
    padding-inline: 5px;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--light-color);
    transition: 0.3s;
    // @include btn-send;
    &:disabled {
        border: 1px solid var(--ui-disabled-color);
        color: var(--ui-disabled-color);
        cursor: not-allowed;
    }
}
.btn-cta {
    border: 1px solid var(--dark-color);
    border-radius: 2px;
    width: 145px;
    background-color: transparent;

    padding-block: 8px;
    padding-inline: 5px;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--dark-color);
    transition: 0.3s;
}
@media screen and (min-width: 1200px) {
    .btn-cta {
        &:hover {
            border: 1px solid var(--ceramic-color);
            color: var(--ceramic-color);
        }
        &:focus {
            color: var(--dark-color);
            outline: 1px solid var(--ceramic-color);
            border: none;
        }
        &:active {
            border: 1px solid var(--ceramic-color);
        }
    }
}
