@use "/src/sass/base/mixins.scss" as *;
.title-h1-italic {
    @include title;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
}
.title-h2 {
    @include title;
    font-size: 32px;
}
.title-h3 {
    @include title;
    font-size: 20px;
}
.title-h4 {
    @include title;
    font-size: 16px;
    color: var(--light-color);
    text-align: left;
}
.title-h5 {
    @include title;
    font-size: 16px;
    color: var(--dark-color);
    text-transform: none;
    text-align: left;
}
@media screen and (min-width: 768px) {
    .title-h2 {
        font-size: 36px;
    }
    .title-h3 {
        font-size: 24px;
    }
}
@media screen and (min-width: 1200px) {
    .title-h2 {
        font-size: 40px;
    }
}
